@import "bourbon"
@import "vars"


body
	color: #757575
	font-size: 1.5em
	line-height: 1.5
	padding: 0
	margin: 0
	font-family: 'RobotoRegular', sans-serif
	font-style: normal
	min-width: 320px
	overflow: hidden

h1
	color: red